<div class="connect-button">
    <p>Connect to Test Service</p>
    <button (click)="testConnect()" mat-raised-button style="margin-left:20px" color="accent">Register Ask</button>
</div>

<div *ngIf="isConnected" class="connection-info">
    <p><b>Knowledge Base ID:</b>http://example.org/a-knowledge-base-id</p>
    <p><b>Knowledge Interaction
            ID:</b>http://example.org/a-knowledge-base-id/interaction/319466f5-865e-46b0-a2aa-ddb6dde68bc9</p>
    <p><b>Knowledge Interaction Type:</b>AskKnowledgeInteraction</p>
</div>

<button *ngIf="isConnected" class="test-button" (click)="testAsk()" mat-raised-button style="margin-left:20px" color="accent">Start Polling</button>

<p *ngIf="testCompleted" class="test-response">test communication works!</p>
<!-- <app-measurement-list *ngIf="testCompleted" [type]="'temperature'"></app-measurement-list> -->