<div *ngIf="loggedin">
  <mat-toolbar color="primary" [style.width]="toolbarWidth" style="min-width: 100%">
    <mat-toolbar-row [style.position]="'fixed'">
      <span [style.position]="'fixed'">Our project - {{dashboardWidth}}</span>
      <button (click)="addServiceList()" mat-raised-button style="margin-left:220px" color="">Interconnect
        Services</button>
      <!-- <button (click)="addServiceDetails()" mat-raised-button style="margin-left:20px" color="">Statistics</button> -->
      <button (click)="addDeviceDetails()" mat-raised-button style="margin-left:20px" color="">Device Details</button>
      <button (click)="addTestCommunication()" mat-raised-button style="margin-left:20px" color="">Test Communication</button>
      <!-- <button mat-raised-button [style.position]="'fixed'" [style.right]="'96px'" (click)="openDialog()">Pick
        one</button> -->
      <button (click)="logout()" mat-raised-button [style.position]="'fixed'" [style.right]="'16px'"
        color="warn">Logout</button>
    </mat-toolbar-row>

  </mat-toolbar>

  <app-my-dashboard #dash [style.width]="dashboardWidth" [gridWidth]="dashboardWidth"
    (cardsChanged)="dashboardCardsChanged($event)"></app-my-dashboard>
</div>

<div *ngIf="!loggedin" class="login-container" fxLayout="column">
  <mat-form-field class="username-field">
    <mat-label>Enter your username</mat-label>
    <input matInput [(ngModel)]="username" type="text" class="example-right-align">
  </mat-form-field>
  <br>
  <mat-form-field class="password-field">
    <mat-label>Enter your password</mat-label>
    <input matInput [(ngModel)]="password" [type]="hide ? 'password' : 'text'">
    <button mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'"
      [attr.aria-pressed]="hide">
      <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
    </button>
  </mat-form-field>
  <br>
  <button (click)="login()" mat-raised-button color="primary" class="login-button">Login</button>
</div>