
<div>
  <mat-toolbar color="primary" [style.width]="toolbarWidth" style="min-width: 100%">
    <mat-toolbar-row [style.position]="'fixed'">
      <span [style.position]="'fixed'">Our project - {{dashboardWidth}}</span>
      <button (click)="addCard()" [style.position]="'fixed'" [style.right]="'16px'" mat-raised-button
        color="accent">Add</button>
      <button mat-raised-button [style.position]="'fixed'" [style.right]="'96px'" (click)="openDialog()">Pick
        one</button>
    </mat-toolbar-row>

  </mat-toolbar>

  <app-my-dashboard #dash [style.width]="dashboardWidth" [gridWidth]="dashboardWidth" [teamData]="data"
    (cardsChanged)="dashboardCardsChanged($event)"></app-my-dashboard>
</div>