<div class="grid-container">
  <!-- <h1 class="mat-h1">Dashboard</h1> -->
  <mat-grid-list [cols]="cardsCount" [style.width]="gridWidth" rowHeight="280px">
    <mat-grid-tile *ngFor="let card of cards" [colspan]="card.cols" [rowspan]="card.rows">
      <mat-card class="dashboard-card">
        <mat-card-header>
          <mat-card-title>
            {{card.title}}
            <!-- <button mat-icon-button class="expand-button">
              <mat-icon>expand</mat-icon>
            </button> -->
            <button mat-icon-button class="more-button" [matMenuTriggerFor]="menu" aria-label="Toggle menu">
              <mat-icon>more_vert</mat-icon>
            </button>
            <mat-menu #menu="matMenu" xPosition="before">
              <button (click)="expandCard(card)" mat-menu-item>Expand</button>              
              <button (click)="collapseCard(card)" mat-menu-item>Collapse</button>
              <button (click)="removeCard(card)" mat-menu-item>Remove</button>
            </mat-menu>
          </mat-card-title>
        </mat-card-header>
        <mat-card-content class="dashboard-card-content">
          <!-- <div *ngIf="card.title == 'Card 1'"><app-my-drag-drop></app-my-drag-drop></div>
          <div *ngIf="card.title == 'Card 2'"><app-my-table></app-my-table></div>
          <div *ngIf="card.title == 'Card 3'"><app-my-tree></app-my-tree></div>
          <div *ngIf="card.title == 'Card 4'"><app-my-address-form></app-my-address-form></div> -->
          <div *ngIf="card.type == 0"><app-leaderboard></app-leaderboard></div>
        </mat-card-content>
      </mat-card>
    </mat-grid-tile>
  </mat-grid-list>
</div>
